src/main/mule/order_sfsc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="91b0e1b8-342a-4b01-aeb0-1672b992c41c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="24f94d00-3fc6-4cad-949e-ee3bd634a8bf" >
		<salesforce:basic-connection username="helmi.el-arem@talan.com.mulesoftsb" password="Helmi2020" securityToken="RdJSSbhtf4JeAzQ9VR5jOp7Ap" url="https://test.salesforce.com/services/Soap/u/28.0/" />
	</salesforce:sfdc-config>
	<flow name="Create_order_SFSC" doc:id="60dad8fe-5b1a-4802-9a88-c9ba0ea64385" >
		<http:listener doc:name="sfcc/order" doc:id="b091e952-f44e-4854-b275-f3ca3f811b67" config-ref="HTTP_Listener_config" path="sfcc/order"/>
		<salesforce:query doc:name="selectPriceBookId" doc:id="8129fbf1-918f-414d-be05-5a745a186e54" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name, Phone, AccountId, Id, mailingstreet  from contact where email = ':Email']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"Email" : vars.ContactEmail
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="prepareOrderdata" doc:id="297e05f0-31ff-49e9-aa30-188f7146620c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	AccountId: vars.AccountId ,
	//AccountId: "0011w00001EdQg9AAF",
	EffectiveDate: now() as Date {
		format :"yyyy-MM-dd"
	},
	Pricebook2Id: vars.priceBookId.Id reduce ($$ ++ $),
	Status: vars.mainpayload.orderStatus,
	BillingStreet: (vars.mainpayload.billingAddress1 default "") ++ ', ' ++(vars.payloadOrder.billingAddress2 default ""),
	BillingCity: vars.mainpayload.billingCity,
	BillingState: vars.mainpayload.billingRegion,
	BillingPostalCode: vars.mainpayload.billingPostalCode,
	BillingCountry: vars.mainpayload.billingCountry,
	ShippingStreet: (vars.mainpayload.shippingAddress1 default "")++ ', ' ++(vars.payloadOrder.shippingAddress2 default ""),
	ShippingCity: vars.mainpayload.shippingCity,
	ShippingState: vars.mainpayload.shippingRegion,
	ShippingPostalCode: vars.mainpayload.shippingPostalCode,
	ShippingCountry: vars.mainpayload.shippingCountry
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Order" doc:name="Create_order_SFSC" doc:id="06e75d33-c7f9-4e79-915e-80bfa35f71d0" config-ref="Salesforce_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="42c7d7dd-1839-4fec-a37b-ced4f8f704dd" message="#[payload]"/>
		<set-variable value="#[payload.items[0].id as String]" doc:name="Set orderId" doc:id="320ba931-2065-434f-b812-e441386c0154" variableName="orderId"/>
		<flow-ref doc:name="mapOrderItem" doc:id="e00c27dd-5b65-48aa-b9ec-d1eed73fbc4e" name="addOrderItem"/>
		<salesforce:query doc:name="selectOrderdetails" doc:id="eadb65c4-4d2b-4d1b-9f45-4b1bebc4b813" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select orderNumber, CreatedDate   from order where id= ':orderId' limit 200]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"orderId" : vars.orderId
}]]]></salesforce:parameters>
		</salesforce:query>
	</flow>
	<flow name="addOrderItem" doc:id="da5ce3a5-2b6b-47f9-9c39-49a0b77340ee" >
		<foreach doc:name="For Each product" doc:id="01719c7e-a2f9-4600-bef2-ed69f64f19a8" collection="#[vars.mainpayload.orderProducts]">
			<set-variable value="#[payload]" doc:name="productItem" doc:id="a096f781-6e54-44be-ab4c-af07a03c38cd" variableName="ProductItem"/>
			<logger level="INFO" doc:name="productItem" doc:id="5984ab6c-d673-408f-9df3-51d0baf7e37c" message="#[vars.ProductItem]"/>
			<salesforce:query doc:name="selectProduct-Code" doc:id="e36782e4-bbfc-47ee-926a-5c3c02520a34" config-ref="Salesforce_Config">
				<salesforce:salesforce-query ><![CDATA[select ProductCode from Product2 where Name= ':name']]></salesforce:salesforce-query>
				<salesforce:parameters ><![CDATA[#[output application/java
---
{
		"name" : payload.productName as String
}]]]></salesforce:parameters>
			</salesforce:query>
			<ee:transform doc:name="Setvariable productCode" doc:id="cb50ab96-4202-418c-9f3c-4eb839ec7bda" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="productCode" ><![CDATA[%dw 2.0
output application/json
---
payload.ProductCode reduce ($$+$ ) as String]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<salesforce:query doc:name="selectPricebook-EntryId" doc:id="f0f5e3a8-b9bd-4899-a285-33e233acdec8" config-ref="Salesforce_Config">
				<salesforce:salesforce-query ><![CDATA[select id from PricebookEntry where Pricebook2.Name ='Standard Price Book' and ProductCode= ':productCode' ]]></salesforce:salesforce-query>
				<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"productCode" : vars.productCode as String
}]]]></salesforce:parameters>
			</salesforce:query>
			<ee:transform doc:name="prepareOrderItem" doc:id="7f50aab3-e138-462a-b016-1412865a15fe" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	OrderId: vars.orderId ,
    PricebookEntryId: vars.pricebookentryId.Id reduce($$+$),
    UnitPrice:vars.ProductItem.adjustedPrice,
    Quantity: vars.ProductItem.quantityValue 
	
}]
	
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<salesforce:create type="OrderItem" doc:name="AddOrderItem" doc:id="de22857d-ed3a-4840-b074-bb6a1da49e51" config-ref="Salesforce_Config"/>
			<logger level="INFO" doc:name="Logger" doc:id="7ef21b4d-f60f-4ed9-aa3c-6fe9a3071849" message="#[payload]"/>
		</foreach>
	</flow>
</mule>
